body {
    background: #9C835F;
}

.back-icon{
    width: 36px;
    height: 36px;
}

.logo {
    width: 48px;
    height: 48px;
}

.title {
    color: #F9B23D;
}

.rock {
    width: 128px;
    height: 92px;
}

.paper {
    width: 115px;
    height: 150px;
}

.versus-text {
    color: #BD0000;
    font-size: 144px;
}

.scissors {
    width: 134px;
    height: 140px;
}

.refresh {
    width: 77px;
    height: 71px;
    cursor: pointer;
}

/* .player-1 > .rock,
.player-1 > .paper,
.player-1 > .scissors {
    cursor: pointer;
} */

/* .player-1 > .rock:hover,
.player-1 > .paper:hover,
.player-1 > .scissors:hover {
    background-color: #C4C4C4;
} */

.player-choice-box {
    cursor: pointer;
    padding: 1rem;
    border-radius: 15px;
}

.player-choice-box:hover {
    background-color: #C4C4C4;
}

.player-1-result {
    color: white;
    background-color: #4C9654;
    padding: 1rem;
    border-radius: 15px;
    transform: rotate(-30deg);
}

.com-result {
    color: white;
    background-color: #4C9654;
    padding: 1rem 3rem;
    border-radius: 15px;
    transform: rotate(-30deg);
}